*{
margin:0;
padding:0;
}

body{
  font-family: "Helveica", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  overflow: scroll;
}

h2{
  margin-bottom: 20px;
}

a, a:visited {
    color: inherit;
}

.header{
  padding-left: 10px;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  background-color: black;
  z-index: 10;
}

.logo{
  display: inline-flex;
  width: 100%;
  align-items: center;
}

.logo img{
  height: 50px;
}

nav{
  margin-left: auto;
  margin-right: 10px;
}

nav span{
  display: inline-block;
  margin: 20px 10px;
  text-decoration: underline;
}

.container{
  display: flex;
  flex-wrap: wrap;
}

#mission{
  justify-content: center;
  align-items: center;
  background-image: url("./images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  position: relative;
  top: 69px;
  text-align: center;
  margin: 0 auto;
}

.mission-text{
  display:block;
  background-color: black;
  height: 90px;
  width: 1200px;
}

#teas{
  justify-content:space-around;
  width: 1000px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-wrap: wrap;
  position:relative;
  top:69px;
}

.teas-container{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}
.teas-text{
  text-align: center;
}

.tea-item{
  flex-direction: column;
  align-items:center;
  margin-top: 25px;
}

.tea-item img{
  width:300px;
  height:200px;
  margin-bottom: 10px;
  margin-right: 25px;
}
